<div class="table-frame">
  <!-- #7 - {{getTableName()}} => https://betterprogramming.pub/why-you-should-never-use-methods-inside-templates-in-angular-497e0e11f948 -->
  <div class="list-label">{{getTableName()}}</div>
  <table [ngClass]="isActive ? 'table-active': 'table-completed'">
    <tr>
      <th>
        Id
    </th>
      <th>
          Title
      </th>
      <th>
          Description
      </th>
      <th>
          Actions
      </th>
  </tr>
    <!-- #8 - everything is ok here, but please read (later, not now) the article https://dltlabs.medium.com/when-why-and-how-to-use-trackby-9a65eb7a5593#:~:text=This%20can%20have%20a%20major,identifier%20for%20each%20iterable%20element. -->
    <ng-container *ngFor="let todo of todos; trackBy: trackFunction">
        <tr>
          <td>
            {{todo?.id}}

          </td>
          <td>
            <ng-container *ngIf="activeTodo.id !== todo.id; else editTodoTitle">{{todo?.title}}</ng-container>
            <ng-template #editTodoTitle>
              <input type="text" [(ngModel)]="activeTodo.title"/>
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="activeTodo.id !== todo.id; else editTodoDescription">{{todo?.description}}</ng-container>
            <ng-template #editTodoDescription>
              <input type="text" [(ngModel)]="activeTodo.description"/>
            </ng-template>
            </td>
          <td>
            <ng-container *ngIf="todo?.state === TodoState.Completed; else activeList">
              <button (click)="onTodo(todo)" class="btn-todo">TODO</button>
            </ng-container>
            <ng-template #activeList>
              <ng-container *ngIf="activeTodo.id !== todo.id">
                <button (click)="onEdit(todo)" class="btn-edit">Edit</button>
                <button (click)="onDelete(todo)" class="btn-delete">Delete</button>
                <button (click)="onComplete(todo)" class="btn-complete">Complete</button>
              </ng-container>
              <button *ngIf="activeTodo.id === todo.id" (click)="onSave(todo)" class="btn-edit">Save</button>
            </ng-template>
          </td>

        </tr>
    </ng-container>
  </table>
</div>

